version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - pipeline_network

  preprocessing:
    image: python:3.10-slim
    container_name: preprocessing_service
    restart: "no"
    working_dir: /app
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt && python preprocessing/preprocessing.py"
    networks:
      - pipeline_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - pipeline_network
    depends_on:
      - db

  mlflow:
    build: ./mlflow
    container_name: mlflow_server
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_TRACKING_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    volumes:
      - ./mlruns:/mlflow/artifacts
    command: >
      mlflow server 
      --backend-store-uri postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      --default-artifact-root /mlflow/artifacts
      --host 0.0.0.0
    networks:
      - pipeline_network
    depends_on:
      - db

  training:
    image: python:3.10-slim
    container_name: training_service
    restart: "no"
    working_dir: /app
    volumes:
      - ./:/app
    env_file:
      - .env
    environment:
      MLFLOW_TRACKING_URI: ${MLFLOW_TRACKING_URI:-http://mlflow:5000}
    depends_on:
      - preprocessing
      - db
      - mlflow
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt && python models/train.py"
    networks:
      - pipeline_network

  api:
    build: ./api
    container_name: api_server
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      MLFLOW_TRACKING_URI: ${MLFLOW_TRACKING_URI:-http://mlflow:5000}
      MLFLOW_MODEL_URI: ${MLFLOW_MODEL_URI:-models:/IrisModel/production}
    depends_on:
      - training
      - mlflow
    networks:
      - pipeline_network

networks:
  pipeline_network:
    driver: bridge

volumes:
  pgadmin-data:
  postgres_data:
